@font-face {
    font-family: 'agencyfbbold';
    src: url('../fonts/agencyfbbold.ttf') format('truetype');
}

@font-face {
    font-family: 'teko-light';
    src: url('../fonts/Teko-Light.ttf');
}

.teko-font {
    font-family: 'teko-light';
}

body {
    -webkit-user-select: none;
    margin:0;
    letter-spacing: 2px;
    background-image: url("../images/form_background.jpg");
    font-size:120%;
    font-family: 'agencyfbbold';
    color:white;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    margin:0;
}

.menu-bar {
    color: white;
    font-family: 'teko-light';
    -webkit-app-region:drag;
    display:flex;
    width:100%;
    position:fixed;
    top:0;
    justify-content:space-between;
    align-items: center;
    height:35px;
    padding:0;
    margin:0;
    background-color:rgb(34, 34, 34);
    z-index:1;
}

.flex-bar {
    display:flex;
    justify-content: left;
    align-items: center;
}

.flex-center {
    display:flex;
    justify-content: space-around;
    align-items: center;;
}

.nav-menu {
    width:50px;
    height:35px;
    background-color:rgb(34, 34, 34);
    font-size:120%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin:0;
    border:0;
}

.nav-menu:hover {
    background-color:rgb(78, 76, 76);
}

.icon20x20 {
    width:20px;
    height:20px;
}

.icon30 {
    width:30px;
    height:30px;
}

.div-icon {
    margin: 5px 10px 0 10px;
    padding:0;
}

.nav-bar {
    -webkit-app-region:no-drag;
    display:flex;
    justify-content: center;
    height:70px;
    margin-top:60px;
}

.nav-bar>* {
    -webkit-app-region:no-drag;
}

.nav-button {
    color:gray;
    width:150px;
    margin-left:1px;
    margin-right:1px;
    text-align:center;
    transform:skew(35deg);
    transition-duration:0.1s;
    background-color:rgba(94, 93, 93, 0.3);
    border:none;
    border-bottom: 3px solid gray;
}

.nav-button>p {
    pointer-events:none;
    font-size:250%;
    font-family:"agencyfbbold";
    transform:skew(-35deg);
    position:relative;
    bottom:20px;
}

.nav-button:focus {
    outline:none;
}

.unclicked-nav:hover {
    background-color:rgba(146, 146, 146, 0.3);
    border-bottom: 3px solid white;
    cursor:pointer;
}

.clicked-nav {
    background-color: rgb(255, 38, 0, 0.7);
    border-color: white;
    color: white;
}

.page-container {
    font-size:175%;
    color:white;
    background-color: rgba(54, 54, 54, 0.9);
    border: 2px solid lightgray;
    width:600px;
    margin: 10px auto 0px auto; 
    padding:0px;
    overflow:auto;
}

.page-contents {
    margin:10px;
}

fieldset {
    border: 0;
}

.apex-button {
    color:white;
    font-size:120%;
    width:200px;
    height:75px;
    margin:auto;
    margin-bottom:20px;
    padding:8px 60px;
    transition:0.3s;
    background-color: rgba(0, 0, 0, 0);
    border:1px solid white;
    box-shadow: inset 0px -25px 30px -20px rgba(230, 112, 2, 0.966);
    background-image: url('../images/button_200x75.png'), url('../images/arrow_background.png');
    background-position:center 35%;
}

.apex-button:hover {
    cursor:pointer;
    transform: translate(0px,5px);
}

#message {
    font-size:70%;
    margin-top:5px;
    margin-bottom:0;
    display:inline-block;
}

#minutes-input {
    width:45px;
    margin-right:5px;
}

#seconds-input {
    width:45px;
}

input[type=text], input[type=number] {
    text-align:center;
    font-family: 'agencyfbbold';
    font-size:65%;
    height:150%;
    padding:5px;
    position:relative;
    bottom:3px;
    transition-duration:0.2s;
}

input[type=button] {
    text-align:center;
}

.grid-container input[type=radio] {
    position:absolute;
    width:100px;
    cursor: pointer;
    visibility:hidden;
}

.styled-radio {
    position:relative;
    right:18px;
    transform: skew(20deg);
    width:119px;
    height:102px;
    background-color:#edf0ff;
    transition: 0.1s;
    cursor: pointer;
}

.styled-radio:hover {
    background-color:#00acad;
}


.square-radio {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    height:80px;
    outline:4px solid white;
    margin: 10px 5px 10px 5px;
}

#mode-container {
    margin: 10px 0 10px 0;
}

.mode-radio {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    height:60px;
    width:80px;
    outline:4px solid white;
    margin: 10px 5px 10px 5px;
    padding: 0 0 0 0;
    transition-duration: 0.3s;
}

.mode-radio:hover {
    background-color: #00acad;
}

input:checked + label {
    background-color:#00acad;
}


input[type=radio] {
    cursor: pointer;
    display:none;
}

.dark-overlay {
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 10px 0 10px;
    transition-duration: 0.1s;
}

label[for=kings] {
    cursor: pointer;
    background-image: url("../images/kings_canyon.jpg");
    background-size:100%;
    transition-duration: 0.1s;
}

#kings:checked ~ label[for=kings] div {
    background-color: rgba(0, 0, 0, 0.3);
}

label:hover > div {
    background-color: rgba(0, 0, 0, 0.5);
}

#kings:checked ~ label[for=kings] {
    outline: 4px solid #00acad;
}

label[for=worlds] {
    cursor: pointer;
    background-image: url("../images/worlds_edge.jpg");
    background-size:110%;
    transition-duration: 0.5s;
}

#worlds:checked ~ label[for=worlds] div {
    background-color: rgba(0, 0, 0, 0.3);
}

#worlds:checked ~ label[for=worlds] {
    outline: 4px solid #00acad;
}

#bloodhound {
    content:url('../images/legends/bloodhound_portrait.png');
}

input[type=radio]:checked + label #bloodhound {
    background-color:#00acad;
}

#gibraltar {
    content:url('../images/legends/gibraltar_portrait.png');
}

input[type=radio]:checked + label #gibraltar {
    background-color:#00acad;
}

#lifeline {
    content:url('../images/legends/lifeline_portrait.png');
}

input[type=radio]:checked + label #lifeline {
    background-color:#00acad;
}

#pathfinder {
    content:url('../images/legends/pathfinder_portrait.png');
}

input[type=radio]:checked + label #pathfinder {
    background-color:#00acad;
}

#wraith {
    content:url('../images/legends/wraith_portrait.png');
}

input[type=radio]:checked + label #wraith {
    background-color:#00acad;
}

#bangalore {
    content:url('../images/legends/bangalore_portrait.png');
}

input[type=radio]:checked + label #bangalore {
    background-color:#00acad;
}

#caustic {
    content:url('../images/legends/caustic_portrait.png');
}

input[type=radio]:checked + label #caustic {
    background-color:#00acad;
}

#mirage {
    content:url('../images/legends/mirage_portrait.png');
}

input[type=radio]:checked + label #mirage {
    background-color:#00acad;
}

#octane {
    content:url('../images/legends/octane_portrait.png');
}

input[type=radio]:checked + label #octane {
    background-color:#00acad;
}

#wattson {
    content:url('../images/legends/wattson_portrait.png');
}

input[type=radio]:checked + label #wattson {
    background-color:#00acad;
}

#crypto {
    content:url('../images/legends/crypto_portrait.png');
}

input[type=radio]:checked + label #crypto {
    background-color:#00acad;
}

#revenant {
    content:url('../images/legends/revenant_portrait.png');
}

input[type=radio]:checked + label #revenant {
    background-color:#00acad;
}

#loba {
    content:url('../images/legends/loba_portrait.png');
}

input[type=radio]:checked + label #loba {
    background-color:#00acad;
}

#legend-container {
    transition-duration:0.3s;
    padding-left:30px;
    padding-right:30px;
    margin-bottom:15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#two-by-two {
    grid-template-columns: auto auto;
    padding:0;
}

.grid-item {
    transform:scale(1.1) skew(-20deg);
    margin:10px;
    background-color: #edf0ff;
    outline-offset: -10px;
    width:80px;
    height:100px;
    overflow:hidden;
    transition:0.3s;
}

.grid-item:hover {
    transform: skew(-20deg) scale(1.2);
}

label {
    margin-top:15px;
    font-size:80%;
}

input {
    margin-bottom:15px;
}

legend {
    font-size:150%;
}

.centerDiv {
    margin-top:10px;
    display:inline-block;
}

#data-page {
    max-width:1000px;
    width: 90%;
}

#filter-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px 0 40px;
}

.apex-select {
    font-family: 'teko-light';
    color:white;
    text-align:center;
    font-size:100%;
    padding-left:10px;
    width:200px;
    height:45px;
    transition:0.1s;
    border:1px solid white;
    box-shadow: inset 0px -10px 30px -20px rgba(230, 112, 2, 0.966);
    background-image:url('../images/arrow_background.png');
    background-position:center 35%;
}

option {
    background-color: rgb(85, 85, 85);
}

.apex-select:hover, .apex-select:active {
    border: 1px solid rgba(230, 112, 2, 0.966);
}

.data-table {
    /* max-width:980px; */
    font-family: 'teko-light';
    border-collapse: collapse;
    margin: 20px auto 0px auto;
    color:white;
}

.data-table tr {
    background-color:rgb(48, 39, 39);
}

.data-table tr:first-child:hover {
    outline: 0px;
}

.data-table tr:hover {
    outline: 1px solid orange;
}

.data-table tr:nth-child(even) {
    background-color:rgb(88, 88, 88);
}

.data-table td {
    text-align:center;
    margin-left:5px;
    margin-right:5px;
    white-space: nowrap;
    padding-right:5px;
    padding-left:5px;
}

.data-table th {
    text-align:center;
    padding: 7px 10px 7px 10px;
}

.data-table th:hover, .data-table th:active {
    background-color:rgb(59, 48, 48);
}

